openapi: 3.0.3
info:
  title: OBM Billing API
  version: 1.0.0
  description: Faturamento, invoices, planos e impostos
servers:
  - url: https://api.orbitbm.com/api/billing
paths:
  /invoices:
    get:
      summary: Listar invoices
      parameters:
        - in: query
          name: customerId
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 20
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, paid, overdue, cancelled]
      responses:
        '200':
          description: Lista de invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrbitResponse'
  /issue:
    post:
      summary: Emitir nova invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerId, amount, currency]
              properties:
                customerId:
                  type: string
                amount:
                  type: number
                  minimum: 0
                currency:
                  type: string
                  pattern: '^[A-Z]{3}$'
                dueDate:
                  type: string
                  format: date
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      description:
                        type: string
                      quantity:
                        type: number
                      unitPrice:
                        type: number
      responses:
        '201':
          description: Invoice criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrbitResponse'
  /plans:
    get:
      summary: Listar planos disponíveis
      parameters:
        - in: query
          name: currency
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
        - in: query
          name: type
          schema:
            type: string
            enum: [monthly, yearly, custom]
      responses:
        '200':
          description: Lista de planos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrbitResponse'
components:
  schemas:
    OrbitResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, error]
        data:
          type: object
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
        meta:
          type: object
          properties:
            version:
              type: string
            traceId:
              type: string
            timestamp:
              type: string