openapi: 3.0.3
info:
  title: OBM Streaming API
  version: 1.0.0
  description: Streaming de áudio/vídeo sob demanda com DRM e qualidade adaptativa
servers:
  - url: https://api.orbitbm.com/api/streaming
paths:
  /tracks:
    get:
      summary: Listar faixas disponíveis
      parameters:
        - in: query
          name: genre
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Lista de faixas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrbitResponse"
  /play:
    post:
      summary: Iniciar streaming de uma faixa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trackId]
              properties:
                trackId:
                  type: string
                quality:
                  type: string
                  enum: [auto, 480p, 720p, 1080p]
                drmToken:
                  type: string
      responses:
        "200":
          description: URL de streaming
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrbitResponse"
  /playlist:
    get:
      summary: Obter playlist de faixas
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Playlist com faixas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrbitResponse"
components:
  schemas:
    OrbitResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, error]
        data:
          type: object
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
        meta:
          type: object
          properties:
            version:
              type: string
            traceId:
              type: string
            timestamp:
              type: string
